@font-face{
    font-family: 'primary_font';
    src: url('/fonts/primary font/etna-free-font-webfont.woff2') format('woff2'),
         url('/fonts/primary font/etna-free-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');